<div class="header">
      <div class="container">
        <ul class="nav">
          <h1>Maxime</h1>
        </ul>
      </div>
    </div>

 <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h2>I am learning programming</h2>
          <a href="www.google.com" class="btn-main">View my Work</a>
        </div>
      </div>
    </div>

  <div class="footer">
      <div class="container">
        <p>&copy; Maxime</p>
      </div>
    </div>
  </body>
</html>
